Repository jphacks/tk_2407, pull requests merged in 2024-10, with the labels that each got.

#50 ピンのコンポーネントを作成
  frontend/src/components/ui/Pin.tsx
Labels: Frontend

#52 👷 separate labeler and conflicts-checker
  .github/workflows/auto-label-conflicts.yaml
  .github/workflows/auto-labeler.yaml
Labels: CI/CD

#48 [openapi] get /user/{user_id} 　単体のuser APIを生やす
  backend/svc/pkg/openapi/client.gen.go
  backend/svc/pkg/openapi/server.gen.go
  backend/svc/pkg/openapi/types.gen.go
  frontend/src/api/$api.ts
  frontend/src/api/@types/index.ts
  frontend/src/api/api/v1/messages/_locationId@string/index.ts
  frontend/src/api/api/v1/user/_userId@string/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend

#27 google map api導入したよーーーーーん
  frontend/.prettierrc
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/map/page.tsx
  frontend/src/components/Circle.tsx
  frontend/src/components/CustomMap.tsx
  frontend/src/features/map/MapPage.tsx
  frontend/src/hooks/useCurrentLocation.ts
  frontend/src/types/Location.ts
Labels: Frontend

#55 user単体取得
  backend/cmd/dev/main.go
  backend/svc/pkg/handler/user.go
  backend/svc/pkg/usecase/user.go
Labels: Backend

#57 MapAPIのconsole logの実施
  frontend/package.json
  frontend/src/features/map/MapPage.tsx
Labels: Frontend

#58 認証周り作成
  backend/cmd/dev/main.go
  backend/go.mod
  backend/go.sum
  backend/svc/pkg/handler/auth.go
  backend/svc/pkg/handler/user.go
  backend/svc/pkg/middleware/auth.go
  backend/svc/pkg/openapi/client.gen.go
  backend/svc/pkg/openapi/server.gen.go
  backend/svc/pkg/openapi/types.gen.go
  backend/svc/pkg/usecase/auth.go
  frontend/src/api/$api.ts
  frontend/src/api/@types/index.ts
  frontend/src/api/api/v1/health/index.ts
  frontend/src/api/api/v1/login/index.ts
  frontend/src/api/api/v1/messages/_locationId@string/index.ts
  frontend/src/api/api/v1/signup/index.ts
  frontend/src/api/api/v1/user/_userId@string/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend

#59 Frontendビルド時にAPIキーを設定, 位置情報の読み込み制限の追加
  .github/workflows/deploy-cloudrun-frontend.yaml
  frontend/src/hooks/useCurrentLocation.ts
Labels: Frontend, CI/CD

#60 GoogleMapKey をDocker Build Argsから指定
  .github/workflows/deploy-cloudrun-frontend.yaml
  frontend/Dockerfile
Labels: Frontend, CI/CD

#61 PWA化できるようにする
  frontend/public/manifest.json
  frontend/src/app/layout.tsx
Labels: Frontend

#63 吹き出し用のコンポーネントを作成
  frontend/src/components/SpeechBubble.tsx
Labels: Frontend

#64 shadcnのcard-componentを追加
  frontend/src/components/Circle.tsx
  frontend/src/components/ui/card.tsx
Labels: Frontend

#56 Google Maps APIのベース作成
  backend/go.mod
  backend/go.sum
  backend/migrate/migrations/000003_gm_places.down.sql
  backend/migrate/migrations/000003_gm_places.up.sql
  backend/pkg/google_maps/maps.go
  backend/pkg/settings/third-party.go
  backend/svc/pkg/domain/gm_place_photos.gen.go
  backend/svc/pkg/domain/gm_places.gen.go
  backend/svc/pkg/query/gen.go
  backend/svc/pkg/query/gm_place_photos.gen.go
  backend/svc/pkg/query/gm_places.gen.go
Labels: Backend

#66 パフォーマンス改善
  frontend/src/hooks/useCurrentLocation.ts
Labels: Frontend

#67 change spot api schema
  backend/pkg/query/gen.go
  backend/pkg/query/schema_migrations.gen.go
  backend/pkg/query/test.gen.go
  backend/svc/pkg/openapi/client.gen.go
  backend/svc/pkg/openapi/server.gen.go
  backend/svc/pkg/openapi/types.gen.go
  frontend/src/api/$api.ts
  frontend/src/api/@types/index.ts
  frontend/src/api/api/v1/spot/_spotId@string/photo/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend

#69 Authentication for frontend
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/tsumugi.png
  frontend/public/wallpaper.png
  frontend/src/app/login/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/features/login/LoginPage.tsx
  frontend/src/features/signup/SignupPage.tsx
  frontend/tailwind.config.ts
Labels: Frontend

#68 custommarkertukuriyasita
  frontend/public/saru.png
  frontend/src/components/CustomMap.tsx
  frontend/src/components/CustomMarker.tsx
  frontend/src/components/CustomPin.tsx
  frontend/src/features/map/MapPage.tsx
Labels: Frontend

#70 :sparkles: apiClientをまとめる
  frontend/src/apiClient.ts
  frontend/src/features/login/LoginPage.tsx
  frontend/src/features/signup/SignupPage.tsx
Labels: Frontend

#72 🔧 ビルド時にNEXT_PUBLIC_BASE_URLを読み込み
  .github/workflows/deploy-cloudrun-frontend.yaml
  frontend/Dockerfile
  frontend/src/app/health/page.tsx
Labels: Frontend, CI/CD

#73 👷 fix vars in CI
  .github/workflows/deploy-cloudrun-frontend.yaml
Labels: CI/CD

#74 renovate SuccessLocationRes
  backend/svc/pkg/openapi/types.gen.go
  frontend/src/api/@types/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend

#75 :sparkles: auth responsive
  frontend/src/features/login/LoginPage.tsx
  frontend/src/features/signup/SignupPage.tsx
Labels: Frontend

#77 Spotにgoogle_map_idを追加
  backend/svc/pkg/openapi/types.gen.go
  frontend/src/api/@types/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend

#78 📝 message, /user/me のスキーマを追加
  backend/svc/pkg/openapi/client.gen.go
  backend/svc/pkg/openapi/server.gen.go
  backend/svc/pkg/openapi/types.gen.go
  frontend/src/api/$api.ts
  frontend/src/api/@types/index.ts
  frontend/src/api/api/v1/message/index.ts
  frontend/src/api/api/v1/user/me/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend

#80 ✨ migration manage logic
  backend/cmd/dev/main.go
  backend/migrate/migrations/.config.json
Labels: Backend

#82 🐛 change config file to .config.json
  backend/cmd/dev/main.go
Labels: Backend

#84 🔧 change file to config.json
  backend/cmd/dev/main.go
  backend/migrate/migrations/config.json
Labels: Backend

#85 🐛 remove stat
  backend/cmd/dev/main.go
Labels: Backend

#83 🗃️ set migration version to 1
  backend/migrate/migrations/config.json
Labels: Backend

#87 PWAのスタート時URLの変更
  frontend/public/manifest.json
  frontend/src/features/login/LoginPage.tsx
  frontend/src/features/signup/SignupPage.tsx
Labels: Frontend

#88 🐛 migration check load
  backend/cmd/dev/main.go
Labels: Backend

#89 :sparkles: swaggerの更新
  backend/svc/pkg/openapi/client.gen.go
  backend/svc/pkg/openapi/server.gen.go
  backend/svc/pkg/openapi/types.gen.go
  frontend/src/api/$api.ts
  frontend/src/api/@types/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend

#91 🗃️ change migrations
  backend/migrate/migrations/000002_init.down.sql
  backend/migrate/migrations/000002_init.up.sql
  backend/migrate/migrations/000003_gm_places.down.sql
  backend/migrate/migrations/000003_gm_places.up.sql
  backend/migrate/migrations/config.json
Labels: Backend

#90 Sasaryo/add speech bubble to custom marker
  frontend/src/components/CustomMap.tsx
  frontend/src/components/CustomMarker.tsx
  frontend/src/components/SpeechBubble.tsx
Labels: Frontend

#93 handler/google_map
  .github/labeler.yml
  backend/cmd/dev/main.go
  backend/pkg/settings/third-party.go
  backend/svc/pkg/handler/google_map.go
  backend/svc/pkg/util/ptr.go
Labels: Backend, CI/CD

#95 feat: 新規寄せ書き作成モーダルの実装
  frontend/src/app/message/[id]/page.tsx
  frontend/src/app/message/page.tsx
  frontend/src/components/MessageCards.tsx
  frontend/src/components/MessageModal.tsx
Labels: Frontend

#96 feat: 寄せ書き一覧の背景色を追加
  frontend/src/app/message/[id]/page.tsx
Labels: Frontend

#98 change migration 2
  backend/migrate/migrations/000002_init.down.sql
  backend/migrate/migrations/000002_init.up.sql
  backend/migrate/migrations/config.json
  backend/svc/pkg/domain/gm_place_photos.gen.go
  backend/svc/pkg/handler/google_map.go
  backend/svc/pkg/query/gen.go
  backend/svc/pkg/query/gm_place_photos.gen.go
Labels: Backend

#101 change migration 2
  backend/migrate/migrations/000002_init.up.sql
  backend/migrate/migrations/config.json
  backend/svc/pkg/domain/gm_places.gen.go
  backend/svc/pkg/handler/google_map.go
Labels: Backend

#104 feat: メッセージ一覧への遷移
  frontend/src/components/SpeechBubble.tsx
Labels: Frontend

#99 feat: リアクションボタンを押すと増減する
  frontend/src/app/message/[id]/page.tsx
  frontend/src/components/MessageCards.tsx
Labels: Frontend

#107 ✨ get photo endpoint
  backend/cmd/dev/main.go
  backend/pkg/google_maps/maps.go
  backend/svc/pkg/handler/google_map.go
Labels: Backend

#108 :sparkles: create migration file
  backend/migrate/migrations/000004_change-length-spotid.down.sql
  backend/migrate/migrations/000004_change-length-spotid.up.sql
  backend/migrate/migrations/config.json
  backend/svc/pkg/domain/messages.gen.go
  backend/svc/pkg/domain/reactions.gen.go
  backend/svc/pkg/domain/stamps.gen.go
  backend/svc/pkg/query/reactions.gen.go
  backend/svc/pkg/query/stamps.gen.go
Labels: Backend

#111 Feature/message create
  backend/cmd/dev/main.go
  backend/svc/pkg/handler/message.go
  backend/svc/pkg/openapi/types.gen.go
  backend/svc/pkg/usecase/message.go
  frontend/src/api/api/v1/message/index.ts
  openapi/openapi.yaml
Labels: Frontend, Backend, OpenAPI

#109 連携したよーん
  backend/svc/pkg/handler/google_map.go
  frontend/src/components/CustomMap.tsx
  frontend/src/components/CustomMarker.tsx
  frontend/src/components/SpeechBubble.tsx
Labels: Frontend, Backend

#94 近くのスポットリストのコンポーネントを作成しました。
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/SpotList.tsx
  frontend/src/components/ui/scroll-area.tsx
Labels: Frontend

#115 ✨ 連携完了
  frontend/src/components/CustomMap.tsx
  frontend/src/components/SpotList.tsx
  frontend/src/features/map/MapPage.tsx
Labels: Frontend

#116 loading ptag
  frontend/src/features/map/MapPage.tsx
Labels: Frontend

#118 🚨 lint fix
  frontend/src/features/map/MapPage.tsx
Labels: Frontend
